body {
	text-align: center;
}

.container {
	background-color: #000033;
	background-image: url(../img/outerspace.jpg);
}

.form-group button {
	background-color: black;
}
.form-group button:hover {
	background-color:  #ff00ff;
}
.form-group button:focus {
	background-color: black;
}

.form-group h1 {
	color: #fff;
}
#planetName {
	color: #fff;
	text-transform: uppercase;
}

#planetInfo {
	font-size: 25px;
	color: #fff;
}

#icon {
	animation-name: fadeIn;
	animation-duration: 3s;
}